:root {
    --primary: #77ab59;
    --secondary: #c3bfb4d0;
}

.landing {
    background: url('../../img/bg.png')center center/cover;
    height: 90vh;
    background-position: bottom;
}

.landing-content {
    margin-top: 10vh;
    display: inline-block;
    width: 100vw;
    height: 80vh;
}

.landing-content img {
    height: 60vh;
    display: inline;
}

.landing-content .text {
    display: inline-block;
    position: relative;
    top: -35vh;
    left: 2vw;
    opacity: 0.8;
}

.landing-content .text p {
    font-size: larger;
}

.landing-content .btn {
    height: 10vh;
    width: 15vw;
    cursor: pointer;
    margin: 0.5rem;
    border: none;
    outline: none;
    background: var(--primary);
    border-radius: 15px;
    opacity: 0.8;
    transition: all 0.15s ease-in-out;
}

.landing-content .btn:hover {
    opacity: 1;
    transform: scale(1.08);
}

.landing-btn-wrapper {
    display: inline-flex;
    position: relative;
    top: -28vh;
    left: 30vw;
   opacity: 0;
   transform: translateY(100px);
   animation: come 1s forwards;
   animation-delay: 1.5s;
}

.landing-header {
    opacity: 0;
    transform: translateX(-200px);
    animation: come 1.5s forwards;
}

.landing-p{
    opacity: 0;
    transform: translateX(-100px);
    animation: come 1s forwards;
    animation-delay: 1.5s;
}

@keyframes come {
    to {
        transform: translate(0px);
        opacity: 1;
    }
}